.test {
  height: 337px;
  overflow: hidden;
  max-width: 760px;
  width: 100%;
  position: relative;
  border-radius: 30px;
  margin-top: 45px;
}
.background_background__3Oeal > span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: background_move__307V1;
  -moz-animation-name: background_move__307V1;
  animation-name: background_move__307V1;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.background_background__3Oeal > span:first-child {
  color: #5856de;
  opacity: 0.3;
  top: 64%;
  left: 3%;
  -webkit-animation-duration: 9.5s;
  -moz-animation-duration: 9.5s;
  animation-duration: 9.5s;
  -webkit-animation-delay: -5.7s;
  -moz-animation-delay: -5.7s;
  animation-delay: -5.7s;
  -webkit-transform-origin: 14vw -22vh;
  -moz-transform-origin: 14vw -22vh;
  transform-origin: 14vw -22vh;
  -webkit-box-shadow: 100vmin 0 20.5259430347vmin currentColor;
  box-shadow: 100vmin 0 20.5259430347vmin currentColor;
}

.background_background__3Oeal > span:nth-child(2) {
  color: #5856de;
  opacity: 0.3;
  top: 24%;
  left: 85%;
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
  -webkit-animation-delay: -1.5s;
  -moz-animation-delay: -1.5s;
  animation-delay: -1.5s;
  -webkit-transform-origin: -1vw -14vh;
  -moz-transform-origin: -1vw -14vh;
  transform-origin: -1vw -14vh;
  -webkit-box-shadow: 100vmin 0 36.2934581027vmin currentColor;
  box-shadow: 100vmin 0 36.2934581027vmin currentColor;
}

.background_background__3Oeal > span:nth-child(3) {
  color: #bd4be5;
  opacity: 0.3;
  top: 41%;
  left: 38%;
  -webkit-animation-duration: 13.3s;
  -moz-animation-duration: 13.3s;
  animation-duration: 13.3s;
  -webkit-animation-delay: -4.8s;
  -moz-animation-delay: -4.8s;
  animation-delay: -4.8s;
  -webkit-transform-origin: -5vw -21vh;
  -moz-transform-origin: -5vw -21vh;
  transform-origin: -5vw -21vh;
  -webkit-box-shadow: -100vmin 0 21.6771071789vmin currentColor;
  box-shadow: -100vmin 0 21.6771071789vmin currentColor;
}

.background_background__3Oeal > span:nth-child(4) {
  color: #bd4be5;
  opacity: 0.3;
  top: 31%;
  left: 36%;
  -webkit-animation-duration: 16.4s;
  -moz-animation-duration: 16.4s;
  animation-duration: 16.4s;
  -webkit-animation-delay: -1.9s;
  -moz-animation-delay: -1.9s;
  animation-delay: -1.9s;
  -webkit-transform-origin: -24vw -5vh;
  -moz-transform-origin: -24vw -5vh;
  transform-origin: -24vw -5vh;
  -webkit-box-shadow: -100vmin 0 16.8646404307vmin currentColor;
  box-shadow: -100vmin 0 16.8646404307vmin currentColor;
}

.background_background__3Oeal > span:nth-child(5) {
  color: #bd4be5;
  opacity: 0.3;
  top: 82%;
  left: 36%;
  -webkit-animation-duration: 14.6s;
  -moz-animation-duration: 14.6s;
  animation-duration: 14.6s;
  -webkit-animation-delay: -1.6s;
  -moz-animation-delay: -1.6s;
  animation-delay: -1.6s;
  -webkit-transform-origin: -7vw -4vh;
  -moz-transform-origin: -7vw -4vh;
  transform-origin: -7vw -4vh;
  -webkit-box-shadow: 100vmin 0 24.5628275968vmin currentColor;
  box-shadow: 100vmin 0 24.5628275968vmin currentColor;
}

.background_background__3Oeal > span:nth-child(6) {
  color: #bd4be5;
  opacity: 0.3;
  top: 69%;
  left: 33%;
  -webkit-animation-duration: 16.9s;
  -moz-animation-duration: 16.9s;
  animation-duration: 16.9s;
  -webkit-animation-delay: -22.3s;
  -moz-animation-delay: -22.3s;
  animation-delay: -22.3s;
  -webkit-transform-origin: 19vw 0;
  -moz-transform-origin: 19vw 0;
  transform-origin: 19vw 0;
  -webkit-box-shadow: -100vmin 0 30.1798673544vmin currentColor;
  box-shadow: -100vmin 0 30.1798673544vmin currentColor;
}

.background_background__3Oeal > span:nth-child(7) {
  color: #5856de;
  opacity: 0.3;
  top: 5%;
  left: 35%;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-delay: -1.4s;
  -moz-animation-delay: -1.4s;
  animation-delay: -1.4s;
  -webkit-transform-origin: 12vw 23vh;
  -moz-transform-origin: 12vw 23vh;
  transform-origin: 12vw 23vh;
  -webkit-box-shadow: 100vmin 0 18.4708847196vmin currentColor;
  box-shadow: 100vmin 0 18.4708847196vmin currentColor;
}

.background_background__3Oeal > span:nth-child(8) {
  color: #bd4be5;
  opacity: 0.3;
  top: 9%;
  left: 60%;
  -webkit-animation-duration: 15.5s;
  -moz-animation-duration: 15.5s;
  animation-duration: 15.5s;
  -webkit-animation-delay: -17.6s;
  -moz-animation-delay: -17.6s;
  animation-delay: -17.6s;
  -webkit-transform-origin: -16vw -24vh;
  -moz-transform-origin: -16vw -24vh;
  transform-origin: -16vw -24vh;
  -webkit-box-shadow: 100vmin 0 33.2981169125vmin currentColor;
  box-shadow: 100vmin 0 33.2981169125vmin currentColor;
}

.background_background__3Oeal > span:nth-child(9) {
  color: #bd4be5;
  opacity: 0.3;
  top: 100%;
  left: 63%;
  -webkit-animation-duration: 14.4s;
  -moz-animation-duration: 14.4s;
  animation-duration: 14.4s;
  -webkit-animation-delay: -1.9s;
  -moz-animation-delay: -1.9s;
  animation-delay: -1.9s;
  -webkit-transform-origin: -5vw 14vh;
  -moz-transform-origin: -5vw 14vh;
  transform-origin: -5vw 14vh;
  -webkit-box-shadow: -100vmin 0 28.9639176573vmin currentColor;
  box-shadow: -100vmin 0 28.9639176573vmin currentColor;
}

.background_background__3Oeal > span:nth-child(10) {
  color: #bd4be5;
  opacity: 0.3;
  top: 15%;
  left: 30%;
  -webkit-animation-duration: 13.4s;
  -moz-animation-duration: 13.4s;
  animation-duration: 13.4s;
  -webkit-animation-delay: -3.4s;
  -moz-animation-delay: -3.4s;
  animation-delay: -3.4s;
  -webkit-transform-origin: -16vw -16vh;
  -moz-transform-origin: -16vw -16vh;
  transform-origin: -16vw -16vh;
  -webkit-box-shadow: -100vmin 0 20.9210912688vmin currentColor;
  box-shadow: -100vmin 0 20.9210912688vmin currentColor;
}

@-webkit-keyframes background_move__307V1 {
  to {
    -webkit-transform: translateZ(1px) rotate(1turn);
    transform: translateZ(1px) rotate(1turn);
  }
}

@-moz-keyframes background_move__307V1 {
  to {
    -moz-transform: translateZ(1px) rotate(1turn);
    transform: translateZ(1px) rotate(1turn);
  }
}

@keyframes background_move__307V1 {
  to {
    -webkit-transform: translateZ(1px) rotate(1turn);
    -moz-transform: translateZ(1px) rotate(1turn);
    transform: translateZ(1px) rotate(1turn);
  }
}
